[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2 = "*"
djangorestframework = "*"
social-auth-app-django = "*"
django-widget-tweaks = "*"

[dev-packages]
pylint = "*"
mypy = "*"

[requires]
python_version = "3.9"
